@use "./partials/global" as *;
@use "./partials/_variables" as *;

.main {
    position: relative;
    height: 85vh;

    &--hide {
        display: none;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__video-src {
    }

    &__btn {
        position: absolute;
        bottom: 10%;
        left: 50%;
        border: none;
        font-size: 1.5rem;
        transition: height ease;

        // &:hover {
        // }

        &:active {
            height: 2.5rem;
        }
    }
}
